<a href="https://colab.research.google.com/github/anushac14/ai4all-unsupervised-learning/blob/main/AI4ALL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df=pd.read_csv('/content/drive/MyDrive/data.csv')

In [3]:
df.head(5)

,Uniq Id,Product Name,Brand Name,Asin,Category,Upc Ean Code,List Price,Selling Price,Quantity,Model Number,...,Product Url,Stock,Product Details,Dimensions,Color,Ingredients,Direction To Use,Is Amazon Seller,Size Quantity Variant,Product Description
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",NaN,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,NaN,NaN,$237.68,NaN,NaN,...,https://www.amazon.com/DB-Longboards-CoreFlex-...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",NaN,NaN,Toys & Games | Learning & Education | Science ...,NaN,NaN,$99.95,NaN,55324,...,https://www.amazon.com/Electronic-Circuits-Cla...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,NaN,NaN,Toys & Games | Arts & Crafts | Craft Kits,NaN,NaN,$34.99,NaN,NaN,...,https://www.amazon.com/3Doodler-Plastic-Innova...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,NaN,NaN,Toys & Games | Hobbies | Models & Model Kits |...,NaN,NaN,$28.91,NaN,142,...,https://www.amazon.com/Guillow-Airplane-Design...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,NaN,NaN,Toys & Games | Puzzles | Jigsaw Puzzles,NaN,NaN,$17.49,NaN,62151,...,https://www.amazon.com/Woodstock-Collage-500-p...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [4]:
df.shape

(10002, 28)

In [5]:
df.columns

Index(['Uniq Id', 'Product Name', 'Brand Name', 'Asin', 'Category',
       'Upc Ean Code', 'List Price', 'Selling Price', 'Quantity',
       'Model Number', 'About Product', 'Product Specification',
       'Technical Details', 'Shipping Weight', 'Product Dimensions', 'Image',
       'Variants', 'Sku', 'Product Url', 'Stock', 'Product Details',
       'Dimensions', 'Color', 'Ingredients', 'Direction To Use',
       'Is Amazon Seller', 'Size Quantity Variant', 'Product Description'],
      dtype='object')

In [6]:
df.isna().sum()

Uniq Id                      0
Product Name                 0
Brand Name               10002
Asin                     10002
Category                   830
Upc Ean Code              9968
List Price               10002
Selling Price              107
Quantity                 10002
Model Number              1772
About Product              273
Product Specification     1632
Technical Details          790
Shipping Weight           1138
Product Dimensions        9523
Image                        0
Variants                  7524
Sku                      10002
Product Url                  0
Stock                    10002
Product Details          10002
Dimensions               10002
Color                    10002
Ingredients              10002
Direction To Use         10002
Is Amazon Seller             0
Size Quantity Variant    10002
Product Description      10002
dtype: int64

In [7]:
df['Is Amazon Seller'].value_counts()

Is Amazon Seller
Y    9723
N     279
Name: count, dtype: int64

In [8]:
df['Product Name'].unique()[:10]

array(['DB Longboards CoreFlex Crossbow 41" Bamboo Fiberglass Longboard Complete',
       'Electronic Snap Circuits Mini Kits Classpack, FM Radio, Motion Detector, Music Box (Set of 5)',
       "3Doodler Create Flexy 3D Printing Filament Refill Bundle (X5 Pack, Over 1000'. of Extruded Plastics! - Innovate",
       'Guillow Airplane Design Studio with Travel Case Building Kit',
       'Woodstock- Collage 500 pc Puzzle',
       'Terra by Battat – 4 Dinosaur Toys, Medium – Dinosaurs for Kids & Collectors, Scientifically Accurate & Designed by A Paleo-Artist; Age 3+ (4 Pc)',
       "Rubie's Child's Pokemon Deluxe Pikachu Costume, X-Small",
       'Hoffmaster 120813 Double-Tipped Triangular Crayon, 88 mm Length, Wrapped (500 Packs of 2)',
       'ARTSCAPE Etched Glass 24" x 36" Window Film, 24-by-36-Inch',
       'Pokemon TCG: Sun and Moon Crimson Invasion Elite Trainer Box'],
      dtype=object)

In [9]:
df['Category'].unique()[:20]

array(['Sports & Outdoors | Outdoor Recreation | Skates, Skateboards & Scooters | Skateboarding | Standard Skateboards & Longboards | Longboards',
       'Toys & Games | Learning & Education | Science Kits & Toys',
       'Toys & Games | Arts & Crafts | Craft Kits',
       'Toys & Games | Hobbies | Models & Model Kits | Model Kits | Airplane & Jet Kits',
       'Toys & Games | Puzzles | Jigsaw Puzzles', nan,
       'Clothing, Shoes & Jewelry | Costumes & Accessories | Kids & Baby | Girls | Costumes',
       'Toys & Games | Arts & Crafts | Drawing & Painting Supplies | Crayons',
       'Home & Kitchen | Home Décor | Window Treatments | Window Stickers & Films | Window Films',
       'Toys & Games | Baby & Toddler Toys',
       'Toys & Games | Collectible Toys | Statues, Bobbleheads & Busts | Statues',
       'Baby Products | Nursery | Décor | Window Treatments | Valances',
       'Toys & Games | Building Toys | Building Sets',
       'Toys & Games | Baby & Toddler Toys | Musical Toys',
       'Toys & Games | Learning & Education | Flash Cards',
       "Home & Kitchen | Furniture | Kids' Furniture | Tables & Chairs | Tables",
       'Toys & Games | Novelty & Gag Toys | Money Banks',
       'Toys & Games | Sports & Outdoor Play | Slumber Bags',
       'Toys & Games | Hobbies | Hobby Building Tools & Hardware | RC Linkages',
       'Toys & Games | Party Supplies | Party Tableware | Plates'],
      dtype=object)

In [10]:
df['Selling Price'][:5]

0    $237.68
1     $99.95
2     $34.99
3     $28.91
4     $17.49
Name: Selling Price, dtype: object

In [11]:
df['Shipping Weight'].unique()[:10]

array(['10.7 pounds', '4 pounds', '12.8 ounces', '13.4 ounces',
       '1.4 pounds', '9.8 ounces', nan, '12.2 ounces', '1.5 pounds',
       '3.2 ounces'], dtype=object)

In [12]:
df['Technical Details'].unique()

array([nan,
       'The snap circuits mini kits classpack provides basic electric circuitry information for students in grades 2-6. This classpack includes 5 snap-together building kits. Components snap together to create working models of everyday electronic devices. Kits included are an FM radio, a motion detector, a music box, space battle sound effects, and a flying saucer. Each mini kit comes with individual components, and an activity guide which includes instructions and additional project ideas. Each primary-colored component represents one function in a circuit. Activity kits are used by teachers and students in classroom and homeschool settings for educational and research applications in science, math, and for a variety of additional disciplines. Science education products and manipulatives incorporate applied math and science principles into classroom or homeschool projects. Teachers in pre-K, elementary, and secondary classrooms use science education kits, manipualtives, and products alongside science, technology, engineering, and math (STEM) curriculum to demonstrate STEM concepts and real-world applications through hands-on activities. Science education projects include a broad range of activities, such as practical experiments in engineering, aeronautics, robotics, chemistry, physics, biology, and geology.',
       'show up to 2 reviews by default No longer are you bound by the rigid constraints of hard plastic! Our FLEXY line you can now squeeze, stretch, and twist your creations providing a truly dynamic Doodling experience. Do you want to take your creativity to new levels? Explore the wide variety of FLEXY plastic refill colors for your 3Doodler Create 3D pen! Flexy Plastics are compatible with the 3Doodler V.1, 2.0, and create 3D printing pens. Available in single & mixed color pack containing 25 strands each, and single colors tubes containing 100 strands. | 12.8 ounces (View shipping rates and policies)',
       ...,
       'show up to 2 reviews by default NewPath Learning standards-based science owls and owl pellets curriculum mastery flip chart set. Each curriculum mastery flip chart is mounted on a sturdy easel. 10 double-sided, laminated 18-inches length by 12-inches width charts. Side 1 features a colorful, graphic overview of the topic. Side 2 serves as a "write-on/wipe-off" activity chart featuring questions, labeling exercises, vocabulary review and more. Activity guide featuring blackline copymasters and exercises. Set Includes the following 10 charts: owls-birds of prey; the barn owl; owl food web; owl pellets; dissecting an owl pellet; rodent skeleton; vole skeleton; mole skeleton; shrew skeleton; bird skeleton. Grade 5 - 9. Academic standard: California, Florida, National, New York, Texas.',
       'Disney Princess DIY Braid Set | 6.1 ounces (View shipping rates and policies)',
       'Go to your orders and start the return Select the ship method Ship it! | Go to your orders and start the return Select the ship method Ship it! | Color:Orange Never hide it away. The luxe Luciano step stool transforms an ordinary household item into a slim, graceful work of art. Open size: W 22. 75" X (platform top) H 42" X d 38. 25" (Safety bar top) H 59" | 20.5 pounds (View shipping rates and policies)'],
      dtype=object)

In [13]:
Selected_df= df[['Product Name','Category','Selling Price','Product Specification','Technical Details','Shipping Weight','Is Amazon Seller']]

#Handling the Selling price feature with median values

In [14]:
Selected_df.loc[:,'Selling Price'] =Selected_df['Selling Price'].astype('str').str.replace(r'[^\d.]', '',regex=True)
Selected_df.loc[:,'Selling Price']= pd.to_numeric(Selected_df['Selling Price'],errors='coerce')
imputer= SimpleImputer(strategy='median')
Selected_df.loc[:,'Selling Price']= imputer.fit_transform(Selected_df[['Selling Price']])

In [15]:
Selected_df.isna().sum()

Product Name                0
Category                  830
Selling Price               0
Product Specification    1632
Technical Details         790
Shipping Weight          1138
Is Amazon Seller            0
dtype: int64

In [16]:
# Function to convert weight to ounces with additional checks
def to_ounces(weight):
    if pd.isna(weight):
        return np.nan
    weight_str = str(weight).strip().lower()


    try:
        if 'pounds' in weight_str:
            return float(weight_str.split()[0]) * 16
        elif 'ounces' in weight_str:
            return float(weight_str.split()[0])
        else:
            return np.nan
    except ValueError:
        return np.nan

# Apply the conversion to the 'Shipping Weight' column
Selected_df['Shipping Weight'] = Selected_df['Shipping Weight'].apply(to_ounces)


imputer = SimpleImputer(strategy='median')
Selected_df['Shipping Weight'] = imputer.fit_transform(Selected_df[['Shipping Weight']])

<ipython-input-16-8ddb4edda5f3>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Selected_df['Shipping Weight'] = Selected_df['Shipping Weight'].apply(to_ounces)
<ipython-input-16-8ddb4edda5f3>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Selected_df['Shipping Weight'] = imputer.fit_transform(Selected_df[['Shipping Weight']])

In [17]:
#Handling missing value
Selected_df.loc[:,'Technical Details']= Selected_df['Technical Details'].fillna('No detail available')

#Handling categorical feature

In [18]:
#Droping missing value from category
Selected_df = Selected_df.dropna(subset=['Category'])

In [19]:
#Droping missing value from product specification
Selected_df= Selected_df.dropna(subset=['Product Specification'])

In [20]:
print('Cleaned features:')
Selected_df.isna().sum()

Cleaned features:

Product Name             0
Category                 0
Selling Price            0
Product Specification    0
Technical Details        0
Shipping Weight          0
Is Amazon Seller         0
dtype: int64